.track-list {
    width: 100%;
}

.track-list__header {
    display: grid;
    grid-template-columns:
        48px
        1fr
        300px;

    padding: 0.75rem 1rem;

    border-bottom: 1px solid #ddd;

    font-size: 0.9rem;
    font-weight: 600;
}

.track-row {
    display: grid;
    grid-template-columns:
        48px
        1fr
        300px;

    align-items: center;

    padding: 0.75rem 1rem;

    border-radius: 4px;
}

.track-row .playlist-button--track-play {
    display: none;
}

.track-row:hover {
    background: rgba(0, 0, 0, 0.10);
}

.track-row:hover .track-index {
    display: none;
}

.track-row:hover .playlist-button--track-play {
    display: inline-block;
}

.track-title {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.track-cover {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.track-name {
    font-weight: 500;
}

.track-artists {
    opacity: 0.8;
}